dist: focal

language: node_js
node_js:
  - "20"

env:
  - MODELICAPATH="../.tmp:../.msl"

before_install:
  - unset _JAVA_OPTIONS # To suppress a warning from Java to stderr

install:
  - git clone --depth=1 --branch v12.1.0 https://github.com/lbl-srg/modelica-buildings ../.tmp
  - git clone --depth=1 --branch v4.0.0 https://github.com/modelica/ModelicaStandardLibrary ../.msl
  - make clean-installation
  - make install
  - make compile
  - make test-moParser

script:
  - make test
  - trap "rm -rf ../.tmp ../.msl" EXIT
