dist: focal

language: node_js
node_js:
  - "20"

env:
  - MODELICAPATH="./.tmp"

before_install:
  - unset _JAVA_OPTIONS # To suppress a warning from Java to stderr

install:
  - git clone --branch=master https://github.com/lbl-srg/modelica-buildings .tmp
  - make clean-installation
  - make install
  - make compile
  - make test-moParser

script:
  - make test
  - trap "rm -rf .tmp" EXIT
