dist: focal

language: node_js
node_js:
  - "20"

env:
  - MODELICAPATH="../.tmp:../.msl"

install:
  - git clone --depth=1 --branch=master https://github.com/lbl-srg/modelica-buildings ../.tmp
  - git clone --depth=1 --branch v4.0.0 https://github.com/modelica/ModelicaStandardLibrary ../.msl
  - make clean-installation
  - make install

script:
  - make test
  - trap "rm -rf ../.tmp ../.msl" EXIT
